<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit</title>
    <link rel="stylesheet" href=" /css/index.css">
    <link rel="stylesheet" href=" /css/styles.css">
</head>




<body id="profile-edit-wrapper">

    <div class="back-to-home">
        <a href="/">Back to home </a>
    </div>
    <form action="/users/profile-picture" method="post" enctype="multipart/form-data">
        <section id="profile-edit-form">

            <header id="profile-edit-header">
                <button class="current-tab">
                    Edit profile
                </button>
            </header>

            <main id="profile-edit-main">

                <!-- Profile Picture -->
                <section id="edit-profile-picture-card">
                    <div id="edit-profile-picture" class="w-18 h-18 rounded-full overflow-hidden">
                        <img src="/<%= profilePicture %>" alt="Profile" class="object-cover">
                    </div>

                    <span id="edit-button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                        </svg>
                    </span>
                </section>

                <!-- Edit Profile Content/inputs -->
                <section id="edit-profile-content">
                    <section id="edit-profile-container">
                        <!-- Name Input -->
                        <article class="edit-profile_input-card">
                            <label for="profile-fullName" class="text-xs">
                                Full name
                            </label>
                            <div class="profile-edit-input-card">
                                <input class="profile-edit-input" id="profile-fullName" type="text"
                                    value="<%= user.name %>" name="name">
                            </div>
                        </article>

                        <!-- Username Input -->
                        <article class="edit-profile_input-card">
                            <label for="profile-username" class="text-xs">
                                Username
                            </label>
                            <div class="profile-edit-input-card">
                                <input class="profile-edit-input" id="profile-username" type="text"
                                    value="<%= user.username %>" name="username">
                            </div>
                        </article>

                        <!-- Email Input -->
                        <article class="edit-profile_input-card">
                            <label for="profile-email" class="text-xs">
                                Email address
                            </label>
                            <div class="profile-edit-input-card">
                                <input class="profile-edit-input" id="profile-email" type="text"
                                    value="<%= user.email %>" name="email">
                            </div>
                        </article>

                        <!-- Username Input -->
                        <article class="edit-profile_input-card">
                            <label for="profile-password" class="text-xs">
                                Bio
                            </label>
                            <div class="profile-edit-input-card">

                                <textarea name="biography" id="profile-password"><%= user.biography %></textarea>

                            </div>
                        </article>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <!-- Profile picture -->
                        <article class="edit-profile_input-card">
                            <label for="profile-password" class="text-xs">
                                Profile picture
                            </label>
                            <div class="profile-edit-input-card">
                                <input class="profile-edit-input" id="profile-password" type="file"
                                    placeholder="********" name="profile">
                            </div>
                        </article>

                        <article class="edit-profile_input-card">
                            <label for="profile-password" class="text-xs">
                                Cover picture
                            </label>
                            <div class="profile-edit-input-card">
                                <input class="profile-edit-input" id="profile-password" type="file"
                                    placeholder="********" name="cover">
                            </div>
                        </article>

                        <br/>
                        <article class="edit-profile_input-card">
                            <label for="profile-password" class="text-xs">
                                Private account
                            </label>
                            <br/>
                            <!-- Rounded switch -->
                            <label style="width: 60px;"  class="switch">
                                <% if(isPrivatePage){ %> 
                                    <input type="checkbox" checked name="private">
                                    <% }else{ %> 
                                     <input type="checkbox"  name="private">
                                    <% }%>
                               
                                <span class="slider round"></span>
                            </label>
                        </article>


                    </section>

                    <div class="flex" id="edit-porile-button-card">
                        <button id="edit-profile-button">
                            Save changes
                        </button>
                    </div>
                </section>


            </main>

        </section>
    </form>
    <script src="/js/sweetalert.js"></script>
    <script>
        if ('<%= locals.messages.error %>') {
            swal({
                title: "Sorry!",
                text: "<%= locals.messages.error %>",
                icon: "error",
                button: "Try again",
            });
        } else if ('<%= locals.messages.success%>') {
            swal({
                title: "Good job!",
                text: "<%= locals.messages.success %>",
                icon: "success",
            });
        }
    </script>
</body>

</html>